---
---
@import "variables";

body {
  font-family: var(--font-body);
  font-size: var(--font-body-size);
  line-height: var(--line-height-body);
  color: var(--text-main);
  background: var(--bg-main);
  margin: 0;
}

/* In assets/css/main.css */
footer {
  background-color: #F3EEE6; /* --ref-bg */
  border-top: 1px solid #D4D0C8;
}
